.title{
    background-color:rgb(202, 20, 0);
    height: 5%;
    position: relative;
    display: flex;
}
span  {
    color: white;
    
}
.title nav a {
    margin-right: 20px;
    padding: 5px;
    color: white;
    display: flex;
    display: inline;
    text-decoration: none;
    justify-content: flex-end;
    position: relative;
    top:0;
    left: 190%;
}
.secondtitle{
    background-color: #00206a;
    padding: 20px;
    position: relative;
    display: flex;
}
.logo img{
    width: 80px;
    height: 50px;
    display:inline;
}
.the {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 70%;
    left: 150px;
}
.reader {
    font-family: 'Chomsky', sans-serif;
    color: white;
    font-size: 40px;
    position: absolute;
    bottom: 30%;
    left: 180px;
}

.guide nav a{
    color: white;
    font-size: 30px;
    text-decoration:none;
    padding-right:5% ;
    position: relative;
    left: 50%;
    bottom: 30px;
}  

.sign{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    text-decoration:none;
    color: aliceblue;
}

.search{
    position: absolute;
    left: 25%;
    top: 8%;
}
.Plantagenets {
    margin-left:15% ;
}
.centertitle{
    display: inline-block;
    
}
.newbook select{
    font-size: 30px;
    margin: 50px;
}

.card{
    display: inline-block;
    
}
.card .pic img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    inset: 0;
}
.bookpicfirst{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-left: 200px;
    width: 80%;
    margin-left: 120px;
}
    
.card .pic img .bookpicfirst{
    width:100px;
    height: 100px;
}
.bookpicfirst p{
    color: black;
    text-align: center;
}
.bookpicfirst a{
    text-decoration:none;
}
.weeklybesttitle{
    font-size: 30px;
    margin-left: 5%;
    margin: 5%;
}

.card .weeklybest{
    width:30%;
    /* height: 100px; */
    display: flex;
    align-content: center;
    /* position:relative ; */
    /* left: 120px; */
    gap: 20%;
    margin-left: 15%;
}
.weeklybest p{
    color: black;
    text-align: center;
    font-size: 30px;
    padding-left: 20%;
    margin: 5%;
}
.weeklybest a{
    text-decoration:none;
}
.more a{
    margin-left: 90%;
    font-size: 20px;
}
.review{
    margin: 5%;
    background-color: #00206a;
    height: 200px;
    border-radius: 50px;
    position: relative;
    top: 0;
}
div .reviewname {
    font-size: 30px;
    margin-left: 40px;
    color: aliceblue;
    padding-top: 2%;
    padding-left:2% ;
}
div .shortreiview {
    color: aliceblue;
    font-size: 25px;
    display: inline-block;
    padding-left: 12%;
    padding-right: 10%;
}
div .footbookname{
    text-align: right;
    padding-right: 10%;
    color:white;
    font-size: 20px;
}
footer{
    margin-bottom: 0;
    background-color: #B50000;
    height: 30%;
    padding: 30px;
    padding-right: 10%;
}
.foot{
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* 登入頁面css */
.signback img{
    width: 100%;
    height: 100%;
    position: relative;
}
.BookMark{
    position: absolute;
    top: 0;
    left: 20%;
    height: 100%;
}
.account{
    position: absolute;
    top: 30%;
    left: 200%;
    color:white;
    font-size: 25px;
}
.password{
    position: absolute;
    top: 40%;
    left: 200%;
    color:white;
    font-size: 25px;
}
.passwordrow{
    position: absolute;
    left: 0;
}
.loginpage{
    color: black;
    position: relative;
    background-color: aliceblue;
}
.login  { 
    width: 250px;
    background-color: aliceblue;
    margin-bottom: 20px;
    margin-top: -90%;
    margin-left: 260%;
    padding-left:30px;
    padding-top: 10px;
    padding-bottom:10px ;
    font-size: 30px;
    border-radius:20px 0 0px 20px ;
}  
.signup{
    width: 200px;
    background-color: aliceblue;
    margin-bottom: 20px;
    margin-left: 278%;
    padding-left:30px ;
    padding-top: 10px;
    padding-bottom:10px ;
    font-size: 30px;
    border-radius:20px 0 0px 20px ;
}
.forgetpassword{
    width: 250px;
    background-color: aliceblue;
    margin-left: 260%;
    margin-bottom: 40%;
    padding-left:30px;
    padding-top: 10px;
    padding-bottom:10px ;
    font-size: 30px;
    border-radius:20px 0 0px 20px ;
} 
/* 中文書簡介頁面 */
h1{
    font-size: 20px;
    margin:20px ; 
    border: white;
    background-color: #B50000;
    color: aliceblue;
    width: 100px;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
}
h2{
    display: block;
    height: 30px;
    border: white;
    background-color: #B50000;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    margin-bottom:10px ; 
}

.chbookpicfirst {
    display: flex;
}
.chcard a img{
    margin-left: 10%;
    margin-bottom:100px ;
}

.Introduction{
    margin-left: 20px;
    width: 50%;
}
.chshortreiview{
    background-color: #00206a;
    color: aliceblue;
    text-align: center;
    padding: 10px; 
    width: 80%;
    border-radius: 30px;
    height: 100px;
    font-size: 18px;
}
/* 書內容頁面 */
.bookpagetitle{
    color: black;
    font-size: 30px;
    margin-left: 11%;
    
}
.bookpageimg{
    /* margin-left: -10%; */
    margin-top:10px ;
    display: flex;
}
.bookpageimg ul li{
    padding-top: 5px;
    margin-bottom: 10px;
}
.bookpageul{
    font-size: 20px;
}
span.instock{
    color: #B50000;
}
.scoreandbuy {
    border-radius: 10%;
    background-color:#00206a ;
    margin-left: 40%;
    text-align: center;
    color: aliceblue;
    width: 20%;
    height: 20%;
}
.scoreandbuy a{
    text-decoration: none;
}
.shoppingcart{
    background-color: gold;
    border-radius: 10%;
    padding: 15px;
    margin:20px ;
    width: auto;
}
.directbuy{
    background-color: #F28500;
    border-radius: 10%;
    padding: 10px;
    margin:20px ;
    width: auto;
}
.bookIntroductionrow{
    background-color: #B50000;
    color:white;
    width: 80%;
    margin-top: 10%;
}
.bookIntroduction p{
    font-size: 20px;
    margin-top:15px;
    margin-bottom: 15px;
    width: 80%;
}
.bookpageshortreiview span{
    color: black;
    font-size: 20px;
}
.bookpageshortreiview p{
    width: 80%;
    font-size: 20px;
    border-bottom:2px solid #B50000;
    margin-top: 10px;
}
.bookpagelongtreiview{
    font-size: 20px;
    width: 80%;
    margin-bottom: 20%;
}
.bookpagelongtreiview span{
    font-size: 20px;
    width: 80%;
    color: black;
}
#divturnoff{
    width: 100%;
}
.open{
    color: #00206a;
    border-bottom: #B50000;
    margin-bottom: 50px;
}
/* 購物車 */
.detailsrow{
    background-color: #B50000;
    color:white;
    width: 20%;
    font-size: 20px;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 10px;
    padding: 1%;
    text-align: center;
    border-radius:10px 10px 0 0;
}
.shooppingrow span{
    background-color: #00206a;
    margin-left:126px ;
    font-size: 20px;
    padding: 10px;
}
.commodityframe{
    border:2px solid rgb(209, 210, 209);
    margin-left: 128px;
    margin-right:110px ;
    margin-top: 20px;
    display: flex;
}
.commodityframe p{
    margin-top:10px ;
    font-size: 20px;
}
span .discount{
    color: black;
}
.shoopbookname p{
    padding-right: 30px;
}
.qty {
    width: 40px;
    height: 35px;
    text-align: center;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
input.qtyplus {
    width: 25px;
    height: 35px;
    border: 1px solid #aaa;
    background: #f8f8f8;
}
input.qtyminus {
    width: 25px;
    height: 35px;
    border: 1px solid #aaa;
    background: #f8f8f8;
}
.buycolorblock{
    background-color: #00206a;
    width: 79%;
    padding: 15px;
    margin-left: 127px;
    margin-top: 20px;
    font-size: 30px;
    border-radius: 10px;
}
.total{
    padding-left: 80%;
}
.total span{
    color: #F28500;
    font-size: 40px;
}
.total p{
    color: white;
    font-size: 20px;
    
}
.checkoutbtn{
    background-color: gold;
    width: 150px;
    height: 50px;
    font-size: 40px;
    padding-top: 15px;
    margin-top: 20px;
    margin-left: 80%;
    margin-bottom: 20%;
    border-radius: 20px;
    text-align: center;
}
/* 運送資訊 */
.form-check{
    font-size: 20px;
    padding-bottom:10px;
    color: black;
}
.checkout{
    background-color: white;
    height: 100%;
    display: block;
    width: 70%;
    margin-left: 10%;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.information{
    background-color: white;
    height: 100%;
    display: block;
    width: 70%;
    margin-left: 10%;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.paychoice{
    background-color: white;
    height: 100%;
    display: block;
    width: 70%;
    margin-left: 10%;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.bill{
    background-color: white;
    height: 100%;
    display: block;
    width: 70%;
    margin-left: 10%;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.finalbtn{
    display: flex;
}
.previouspage{
    font-size: 20px;
    width: 200px;
    margin-left: 50%;
    margin-top: 40px;
    margin-bottom: 10%;
    background-color: #c0c0c0;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border: #f8f8f8;
    border-radius: 10px;
    text-align: center;
}
.final{
    font-size: 20px;
    width: 200px;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 10%;
    background-color: gold;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border: #f8f8f8;
    border-radius: 10px;
    text-align: center;
}

