.title {
    background-color: #B50000;
    height: 50px;
}
.logo img{
    width: 150px;
    position: relative;
    right: 40px;
    bottom: 10px;
}
nav {
    color: black;
    display: flex;
    font-size: 30px;
    position: relative;
    /* left: 700px; */
    bottom:130px;
}
a span{
    font-size: 15px;
    color: white;
    position: absolute;
    /* left: 1180px; */
    bottom: 600px;
}
.colorblock{
    background-color:#6c0101;
    height: 130px;
}

.colorblock .removebg{
    position: relative;
    right: 70px;
} 
.search{
    position: relative;
    /* left: 1000px; */
    top: -80px;
}
.Classification {
    letter-spacing: 1px;
    margin-left: 30px;
    color: aliceblue;

}

.the {
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 150px;
    left: 150px;
}

.reader {
    font-family: 'Chomsky', sans-serif;
    color: white;
    font-size: 40px;
    position: relative;
    bottom: 90px;
    left: 170px;
}

.i {
    color: aliceblue;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.rell{
    display:inline;

}
.Plantagenets {
    position: relative;
    top: 20px;
    left: 170px;
}
.centertitle{
    display: inline-block;
    
}
select{
    font-size: 30px;
    margin: 50px;
}

.card{
    display: inline-block;
    /* width: 1200px; */
}
.card .pic img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    inset: 0;
}
.bookpicfirst{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    /* margin-left: 200px; */
    width: 80%;
    margin-left: 120px;
}

/* .bookpicsecond{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
} */
    
.card .pic img .bookpicfirst{
    width:100px;
    height: 100px;
}
.bookpicfirst p{
    color: black;
    text-align: center;
}
.bookpicsecond p{
    color: black;
    text-align: center;
}
.weeklybesttitle{
    font-size: 30px;
    position: relative;
    left: 50px;
}

.card .weeklybest{
    width:100px;
    height: 100px;
    display: flex;
    align-content: center;
    position:relative ;
    left: 120px;
}
.weeklybest p{
    color: black;
    text-align: center;
    font-size: 30px;
}
.review{
    margin: 100px;
    background-color: #B50000;
    height: 200px;
    border-radius: 50px;
}
.reviewname span{
    font-size: 30px;
    margin-left: 40px;
    color: aliceblue;
}
.shortreiview span{
    color: aliceblue;
    font-size: 25px;
    display: inline-block;
    padding-left: 80px;
    width: 900px;
    
}
.footbookname{
    text-align: right;
    padding-right: 50px;
    color:white;
    font-size: 20px;
}
footer{
    margin-bottom: 0;
    background-color: #B50000;
    height: 80px;
    padding: 30px;
}
.foot{
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* 燈入頁面css */
.signback img{
    width: 1200px;
    position: relative;
}
.bookmark img{
    position: absolute;
    width: 230px;
    height: 620px;
    bottom:20px;
    left: 170px;
}
.account {
    position: absolute;
    bottom: 300px;
    padding-left: 40%;
    padding-bottom: 50%;
}
.accountrow{
    position: relative;
    bottom: 50px;
    background-color: #B50000;
}
form span{
    color:aliceblue;
    font-size: 30px;
    position: absolute;
    left: 110%;
    bottom: 25px;
}
.password{
    position: absolute;
    padding-left: 40%;
    bottom: 55%;
}