@media screen and (max-width:767px)  {
    nav {
        width: 80%;
        height: calc(100vh -50px);
        background-color: black;
        position: absolute;
        top: 50px;
        left: -100%;
        transition: .5s;
    }
    #menu_control {
        position: absolute;
        z-index: 2;
        opacity: 0;
    }

    .header {
        height: 50px;
        background-color: black;
        position: relative;
    }

    .logo {
        margin-left: 10px;
    }

    .logo a {
        display: block;
        height: 40px;
    }

    .logo img {
        vertical-align: block;
        width: 60px;
        height: 40px;

    }

    .menu_btn {
        width: 40px;
        height: 40px;
        background-color: black;
        display: block;
        position: absolute;
        top: 3px;
        right: 10px;
    }

    .menu_btn span {
        opacity: 0;
        width: 1px;
        height: 1px;
        display: block;
        overflow: hidden;
    }

    .menu_btn::before {
        content: '';
        position: absolute;
        height: 2px;
        left: 2px;
        width: 36px;
        background-color: white;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow: 0px 8px 0px white,
            0px -8px 0px white;
    }

    nav {
        width: 80%;
        height: calc(100vh -50px);
        background-color: black;
        position: absolute;
        top: 50px;
        left: -100%;
        transition: .5s;
    }

    nav a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        border-bottom: 1px solid white;
    }

    #menu_control:checked~.header nav {
        left: 0;
    }
}
.title{
    background-color:black;
    height: 5%;
    position: relative;
    display: flex;
}
.title nav a {
    margin-right: 20px;
    padding: 5px;
    color: white;
    display: flex;
    display: inline;
    text-decoration: none;
    justify-content: flex-end;
    position: relative;
    top:0;
    left: 190%;
}
.secondtitle{
    background-color: black;
    padding: 20px;
    position: relative;
    display: flex;
}
.logo img{
    width: 80px;
    height: 50px;
    display:inline;
}
.the {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 70%;
    left: 150px;
}
.reader {
    font-family: 'Chomsky', sans-serif;
    color: white;
    font-size: 40px;
    position: absolute;
    bottom: 30%;
    left: 180px;
}

.guide nav a{
    color: white;
    font-size: 30px;
    text-decoration:none;
    padding-right:5% ;
    position: relative;
    left: 50%;
    bottom: 30px;
}  

.sign{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    text-decoration:none;
    color: aliceblue;
}

.search{
    position: absolute;
    left: 25%;
    top: 8%;
}
.Plantagenets {
    margin-left:15% ;
}
.centertitle{
    display: inline-block;
    
}
.newbook{
    margin: 50px;
}
.newbook a{
    text-decoration: none;
    color: aliceblue;
}
.newbook span {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-right: 30px;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}

.card p{
    font-size: 20px;
    font-weight:bold;
}
.card .pic img{
    display: flex;
    /* justify-content: space-around; */
    margin: auto;
    inset: 0;
    flex-wrap: wrap;
}
.bookpicfirst{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-left: 200px;
    width: 80%;
    margin-left: 120px;
}
    
.card .pic img .bookpicfirst{
    width:100px;
    height: 100px;
}
.bookpicfirst p{
    color: black;
    text-align: center;
}
.bookpicfirst a{
    text-decoration:none;
}
.weeklybesttitle{
    font-size: 30px;
    margin-left: 5%;
    margin: 5%;
}

.card .weeklybest{
    width:30%;
    /* height: 100px; */
    display: flex;
    align-content: center;
    /* position:relative ; */
    /* left: 120px; */
    gap: 20%;
    margin-left: 15%;
}
.weeklybest p{
    color: black;
    text-align: center;
    font-size: 30px;
    padding-left: 20%;
    margin: 5%;
}
.weeklybest a{
    text-decoration:none;
}
.more a{
    margin-left: 90%;
    font-size: 20px;
}
.reviewtitle{
    font-size: 30px;
    width: 10%;
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}
.reviewimg img{
    width: 40%;
    height: 400px;
    margin: 30px;
    margin-top: 30px;
}
.reviewimg {
    position: relative;
}

.weeklybesttitle {
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
    width: 10%;
}
.weeklybest{
    margin-bottom: 10%;
}

div .footbookname{
    text-align: right;
    padding-right: 10%;
    color:white;
    font-size: 20px;
}
footer{
    background-color: black;
    padding-bottom: 30px;
    padding-top: 30px;
    height: 30%;
}
.foot a{
    text-decoration: none;
    font-size: 30px;
    color:aliceblue;
}

/* 中文書簡介頁面 */
h1{
    font-size: 20px;
    margin:20px ; 
    border: white;
    background-color: black;
    color: aliceblue;
    width: 100px;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
}
h2{
    display: block;
    height: 30px;
    border: white;
    background-color: #B50000;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    margin-bottom:10px ; 
}

.chbookpicfirst {
    display: flex;
}
.chcard a img{
    margin-left: 10%;
    margin-bottom:100px ;
}

.Introduction{
    margin-left: 20px;
    width: 50%;
}
.chshortreiview{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px; 
    width: 80%;
    border-radius: 30px;
    height: 100px;
    font-size: 18px;
}
/* 書內容頁面 */
.bookpagetitle{
    color: black;
    font-size: 30px;
    margin-left: 11%;
    
}
.bookpageimg{
    /* margin-left: -10%; */
    margin-top:10px ;
    display: flex;
}
.bookpageimg ul li{
    padding-top: 5px;
    margin-bottom: 10px;
}
.bookpageul{
    font-size: 20px;
}
span.instock{
    color: #B50000;
}
.scoreandbuy {
    border-radius: 10%;
    background-color:#00206a ;
    margin-left: 40%;
    text-align: center;
    color: aliceblue;
    width: 20%;
    height: 20%;
}
.scoreandbuy a{
    text-decoration: none;
}
.shoppingcart{
    background-color: gold;
    border-radius: 10%;
    padding: 15px;
    margin:20px ;
    width: auto;
}
.shoppingcart a{
    color: aliceblue;
}
.directbuy{
    background-color: #F28500;
    border-radius: 10%;
    padding: 10px;
    margin:20px ;
    width: auto;
}
.directbuy a{
    color: aliceblue;
}

.bookIntroductionrow{
    background-color: rgb(0, 0, 0);
    color:white;
    width: 80%;
    margin-top: 10%;
}
.bookIntroduction p{
    font-size: 20px;
    margin-top:15px;
    margin-bottom: 15px;
    width: 80%;
}
.bookpageshortreiview span{
    color: black;
    font-size: 20px;
}
.bookpageshortreiview p{
    width: 80%;
    font-size: 20px;
    border-bottom:2px solid rgb(0, 0, 0);
    margin-top: 10px;
}
.bookpagelongtreiview{
    font-size: 20px;
    width: 80%;
    margin-bottom: 20%;
} 
.bookpagelongtreiview span{
    font-size: 20px;
    width: 80%;
    color: rgb(0, 0, 0);
}
#divturnoff{
    width: 100%;
}
.open{
    color: #00206a;
    border-bottom: #B50000;
    margin-bottom: 50px;
}
/* 購物車 */
.detailsrow{
    background-color: #B50000;
    color:white;
    width: 20%;
    font-size: 20px;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 10px;
    padding: 1%;
    text-align: center;
    border-radius:10px 10px 0 0;
}
.shooppingrow span{
    background-color: #00206a;
    margin-left:126px ;
    font-size: 20px;
    padding: 10px;
}
.commodityframe{
    border:2px solid rgb(209, 210, 209);
    margin-left: 128px;
    margin-right:110px ;
    margin-top: 20px;
    display: flex;
}
.commodityframe p{
    margin-top:10px ;
    font-size: 20px;
}
span .discount{
    color: #00206a;
}
.shoopbookname p{
    padding-right: 30px;
}
.qty {
    width: 40px;
    height: 35px;
    text-align: center;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
input.qtyplus {
    width: 25px;
    height: 35px;
    border: 1px solid #aaa;
    background: #f8f8f8;
}
input.qtyminus {
    width: 25px;
    height: 35px;
    border: 1px solid #aaa;
    background: #f8f8f8;
}
.buycolorblock{
    background-color: #00206a;
    width: 79%;
    padding: 15px;
    margin-left: 127px;
    margin-top: 20px;
    font-size: 30px;
    border-radius: 10px;
}
.total{
    padding-left: 80%;
}
.total span{
    color: #F28500;
    font-size: 40px;
}
.total p{
    color: white;
    font-size: 20px;
    
}
.checkoutbtn{
    background-color: gold;
    width: 150px;
    height: 50px;
    font-size: 40px;
    padding-top: 15px;
    margin-top: 20px;
    margin-left: 80%;
    margin-bottom: 20%;
    border-radius: 20px;
    text-align: center;
}
.checkoutbtn a{
    text-decoration:none ;
    color: white;
}
/* 運送資訊 */
.form-check{
    font-size: 20px;
    padding-bottom:10px;
    color: black;
}
.checkout{
    background-color: white;
    height: 100%;
    display: block;
    width: 70%;
    margin-left: 10%;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.information{
    background-color: white;
    height: 100%;
    display: block;
    width: 70%;
    margin-left: 10%;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.paychoice{
    background-color: white;
    height: 100%;
    display: block;
    width: 70%;
    margin-left: 10%;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.bill{
    background-color: white;
    height: 100%;
    display: block;
    width: 70%;
    margin-left: 10%;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.finalbtn{
    display: flex;
}
.previouspage{
    font-size: 20px;
    width: 200px;
    margin-left: 50%;
    margin-top: 40px;
    margin-bottom: 10%;
    background-color: #c0c0c0;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border: #f8f8f8;
    border-radius: 10px;
    text-align: center;
}
.previouspage a{
    text-decoration: none;
    color: white;
}
.final{
    font-size: 20px;
    width: 200px;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 10%;
    background-color: gold;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border: #f8f8f8;
    border-radius: 10px;
    text-align: center;
}
.final a{ 
    text-decoration: none;
    color: white;
}
